* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

header {
    height: 94px;
    background-color: red;
    padding: 23px;
}

header h1 {
    display: inline;
    animation-name: logo;
    padding: 10px;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    position: relative;
}

@keyframes logo {
    0% {
        background-color: white;
        border-radius: 20%;
        color: red;
        box-shadow: 10px 10px 5px black;
        left: 0%;
    }
    25% {
        background-color: white;
        border-radius: 20%;
        color: red;
        box-shadow: 10px 10px 5px black;
        left: 20%;
    }
    50% {
        background-color: white;
        border-radius: 20%;
        color: red;
        box-shadow: 10px 10px 5px black;
        left: 40%;
    }
    75% {
        background-color: white;
        border-radius: 20%;
        color: red;
        box-shadow: 10px 10px 5px black;
        left: 20%;
    }
    75% {
        background-color: white;
        border-radius: 20%;
        color: red;
        box-shadow: 10px 10px 5px black;
        left: 0%;
        top: 0%;
    }
}

.social {
    float: right;
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 15px;
}

.search {
    height: 400px;
    width: 100%;
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 400px;
}

.search h1 {
    position: relative;
    top: 15%;
}

#logo {
    width: 150px;
    height: 150px;
    background-color: #ffffffb8;
    border-radius: 50%;
    position: relative;
    left: 45%;
    top: 10%;
    animation-duration: 5s;
    animation-name: rota;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rota {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(180deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

#logo h1 {
    position: relative;
    left: 28%;
    top: 22%;
    font-size: 69px;
}

.dropdown {
    /* border: 5px solid blue; */
    width: 70vw;
    height: 10vh;
    position: relative;
    left: 20vw;
    top: 10vh;
}

select {
    width: 49%;
    height: 80%;
    border-radius: 10%;
}

.quick-search {
    margin: auto;
    height: 600px;
    background-image: linear-gradient(to right, rgb(0, 255, 247), rgb(47, 255, 64));
}

.quick-search h1 {
    margin-left: 5%;
    margin-right: 50px;
    color: orange;
}

.quick-search h2 {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    color: rgb(66, 66, 103);
}

.main {
    width: 90%;
    margin: auto;
    height: 60%;
}

.cards {
    width: 29%;
    margin: 5px;
    height: 40%;
    float: left;
    animation-name: pop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    border-radius: 10%;
}

@keyframes pop {
    0% {
        box-shadow: 10px 10px 5px goldenrod;
    }
    25% {
        box-shadow: 10px 10px 5px goldenrod;
        width: 31%;
        margin: 5px;
        height: 45%;
        transform: rotate(4deg);
    }
    50% {
        box-shadow: 10px 10px 5px goldenrod;
        width: 31%;
        margin: 5px;
        height: 45%;
        transform: rotate(0deg);
    }
    75% {
        box-shadow: 10px 10px 5px goldenrod;
        width: 31%;
        margin: 5px;
        height: 45%;
        transform: rotate(-4deg);
    }
    100% {
        width: 29%;
        margin: 5px;
        height: 40%;
    }
}

.p1 {
    width: 54%;
    height: 100%;
    float: left;
}

.p2 {
    width: 45%;
    height: 100%;
    float: left;
    padding: 10px;
}

.p2 a {
    color: blue;
}

.p1 img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

a {
    text-decoration: none;
}

footer {
    background-color: red;
    height: 10vh;
}

footer p {
    text-align: center;
}

.contact {
    float: left;
    width: 33%;
    border-right: 3px solid black;
}

.foot {
    margin-top: 20px;
}